

/*---------GLOBAL STYLES---------------------*/

:root {
  --headerColor: #D23669;
  --btnColor: #282c35;
  --borderColor: #D23669;
  --bcgColor:#fff;
  --fontColor:#000;
}
.dark-theme {
  --headerColor: #e0779a;
  --btnColor: #D23669;
  --borderColor: rgb(158, 158, 155);
  --bcgColor:#282c35;
  --fontColor:#fff;

}
.light-theme {
  --headerColor: #D23669;
  --btnColor: #282c35;
  --borderColor: #D23669;
  --bcgColor:#fff;
  --fontColor:#000;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: var(--bcgColor);
}

 button{
  border: 2px solid var(--borderColor);
  color: var(--btnColor);
  padding:0.5rem 1rem;
  border-radius: 10px;
  margin: 1rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right:0;
  cursor: pointer;
}
button:active{
  transform: scale(0.97);
}

/*------------------MAIN-----------------*/
.mainContainer{
  max-width: 40rem;
  margin:5rem auto;
}

.title{
  text-transform: capitalize;
  color:var(--headerColor);
}

.dateDiv{
  display: flex;
  font-style: italic;
  color: var(--fontColor);
}
.date{
  margin-right:0.5rem;
}
.snippet{
  margin: 1rem 0;
  color: var(--fontColor);
}